@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Signika+Negative:wght@300..700&display=swap");
.message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 300px;
  height: 60px;
  border-radius: 0.5rem;
  gap: 0.7rem;
  color: var(--cor-4);
  top: 50px;
  background-color: var(--cor-2);
}
.message img {
  border-radius: 0.5rem;
  width: 20%;
}
.message span {
  margin-right: 12px;
}

.forum_container {
  width: 1400px;
  height: 100%;
  background: linear-gradient(var(--cor-4), var(--cor-3));
  margin: 4rem auto 0;
  border-radius: 1rem 1rem 0 0;
  border: 10px solid #fff;
  border-bottom: none;
  padding: 1rem 3rem;
}

.footer_container {
  width: 1400px;
  height: 200px;
  justify-content: center;
  border-radius: 0 0 1rem 1rem;
  margin: 0 auto 4rem;
  border: 10px solid #fff;
  border-top: none;
  background: linear-gradient(var(--cor-3), var(--cor-4));
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer_container h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.forum_container--content {
  width: 1400px;
  background: var(--cor-4);
  margin: 0 auto;
  border: 10px solid #fff;
  border-top: none;
  border-bottom: none;
  padding: 6rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main_container .display_container--main .main_display {
  height: 650px;
  margin-bottom: 5rem;
  display: flex;
}
.main_container .display_container--main .main_display article {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
.main_container .display_container--main .main_display article h3 {
  font-size: 4rem;
  line-height: 3.6rem;
  margin-bottom: 2rem;
  color: var(--cor-8);
}
.main_container .display_container--main .main_display article p {
  color: var(--cor-0);
  margin-bottom: 3rem;
}
.main_container .display_container--main .main_display figure {
  width: 43%;
  position: relative;
}
.main_container .display_container--main .main_display figure img {
  position: absolute;
  bottom: -12%;
  left: 10%;
  transform: translateX(30%);
  transform: scaleX(-1);
}

.livros_populares {
  width: 300px;
  height: 500px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.5rem;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}
.livros_populares h4 {
  margin-bottom: 0.75rem;
  font-size: 1.3rem;
}
.livros_populares h6 {
  margin-bottom: 1.25rem;
  font-size: 1rem;
}
.livros_populares p {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}
.livros_populares:hover {
  box-shadow: 7px 7px 20px var(--cor-2);
}

.texto_bonito {
  color: var(--cor-6-2);
  transition: 0.2s ease;
  font-weight: bold;
}
.texto_bonito:hover {
  color: var(--cor-8);
}

.body_login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login_container {
  width: 1000px;
  height: 500px;
  background: linear-gradient(var(--cor-4), var(--cor-3));
  border-radius: 1rem;
  border: 10px solid #fff;
  display: flex;
  flex-flow: nowrap row-reverse;
}

.cadastro {
  flex-flow: nowrap row;
}

.login_container--img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_container--img img {
  width: 80%;
}

.login_container--form {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 2rem;
}
.login_container--form h2 {
  font-family: var(--font-1);
  font-size: 2.6rem;
  color: var(--cor-8);
  text-align: center;
  margin-bottom: 2rem;
}
.login_container--form form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.login_container--form form input {
  height: 50px;
  border: none;
  padding-left: 1.5rem;
  background-color: none;
  border-radius: 0.5rem;
  color: var(--cor-0);
  outline: none;
}
.login_container--form form input::-moz-placeholder {
  color: var(--cor-5);
}
.login_container--form form input::placeholder {
  color: var(--cor-5);
}
.login_container--form form button {
  outline: none;
  background-color: var(--cor-6);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1.7rem;
  cursor: pointer;
  font-size: 1.1rem;
}
.login_container--form form button:hover {
  background-color: var(--cor-6-2);
}
.login_container--form p {
  text-align: center;
  color: var(--cor-0);
  font-size: 0.9rem;
  margin-top: 2rem;
}
.login_container--form p a {
  color: var(--cor-5);
  transition: color 0.2s ease-out;
}
.login_container--form p a:hover {
  color: var(--cor-8);
}

.livro_container {
  width: 1400px;
  height: 100%;
  background: linear-gradient(var(--cor-4), var(--cor-3));
  margin: 4rem auto;
  border-radius: 1rem;
  border: 10px solid #fff;
  padding: 1rem 3rem;
}

.livro_container--header {
  width: 100%;
  display: flex;
  flex-flow: row-reverse nowrap;
  gap: 1rem;
  margin-bottom: 4rem;
}
.livro_container--header figure {
  border-radius: 0.5rem;
}
.livro_container--header figure img {
  border-radius: 0.5rem;
}
.livro_container--header h3 {
  color: var(--cor-8);
}
.livro_container--header .dados {
  flex-grow: 1;
  align-self: center;
  text-align: center;
}
.livro_container--header .dados .dado p {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.livro_container--Comentarios {
  text-align: center;
  margin-top: 4rem;
}
.livro_container--Comentarios h2 {
  margin-bottom: 3rem;
}
.livro_container--Comentarios .form_postagem {
  margin-bottom: 3rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
  background-color: var(--cor-9);
}
.livro_container--Comentarios .form_postagem .form_header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.livro_container--Comentarios .form_postagem .form_header .form_group {
  width: 50%;
}
.livro_container--Comentarios .form_postagem .form_header .form_group #titulo {
  flex-grow: 1;
}
.livro_container--Comentarios .form_postagem .form_header .form_group .notas {
  gap: 0;
}
.livro_container--Comentarios .form_postagem .form_header .form_group .notas label {
  margin-right: 1rem;
}
.livro_container--Comentarios .form_postagem .form_group {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.livro_container--Comentarios .form_postagem #conteudo {
  flex-grow: 1;
  border: none;
  padding: 1rem;
  background-color: none;
  border-radius: 0.5rem;
  color: var(--cor-0);
  outline: none;
  resize: none;
}
.livro_container--Comentarios .form_postagem #conteudo::-moz-placeholder {
  color: var(--cor-5);
}
.livro_container--Comentarios .form_postagem #conteudo::placeholder {
  color: var(--cor-5);
}
.livro_container--Comentarios .form_postagem input {
  height: 30px;
  border: none;
  padding: 1rem;
  background-color: none;
  border-radius: 0.5rem;
  color: var(--cor-0);
  outline: none;
}
.livro_container--Comentarios .form_postagem input::-moz-placeholder {
  color: var(--cor-5);
}
.livro_container--Comentarios .form_postagem input::placeholder {
  color: var(--cor-5);
}
.livro_container--Comentarios .form_postagem input[type=radio] {
  accent-color: var(--cor-6); /* azul, pode ser qualquer cor */
}
.livro_container--Comentarios .form_postagem button {
  flex-grow: 1;
  outline: none;
  background-color: var(--cor-4);
  color: var(--cor-9);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.75rem;
  transition: background-color 0.2s ease-in;
}
.livro_container--Comentarios .form_postagem button:hover {
  background-color: var(--cor-0);
}
.livro_container--Comentarios .lista-comentarios {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  flex-grow: 1;
  gap: 1rem;
}
.livro_container--Comentarios .lista-comentarios .comentario {
  position: relative;
  width: 100%;
  text-align: left;
  background: var(--cor-4);
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.livro_container--Comentarios .lista-comentarios .comentario .form_excluir {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.livro_container--Comentarios .lista-comentarios .comentario .form_excluir button {
  flex-grow: 1;
  outline: none;
  background-color: var(--cor-4);
  color: var(--cor-9);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.75rem;
  transition: background-color 0.2s ease-in;
}
.livro_container--Comentarios .lista-comentarios .comentario .form_excluir button:hover {
  background-color: var(--cor-0);
}
.livro_container--Comentarios .lista-comentarios .comentario .usuario {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.75rem;
}
.livro_container--Comentarios .lista-comentarios .comentario .titulo {
  font-size: 1.1rem;
}
.livro_container--Comentarios .lista-comentarios .comentario .postagem {
  text-align: justify;
}

.livros_container {
  width: 1400px;
  height: 100%;
  background: linear-gradient(var(--cor-4), var(--cor-3));
  margin: 4rem auto;
  border-radius: 1rem;
  border: 10px solid #fff;
  padding: 1rem 3rem;
}
.livros_container .form_pesquisa {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 1rem;
  border-radius: 0.8rem;
  background-color: var(--cor-9);
}
.livros_container .form_pesquisa .input_titulo, .livros_container .form_pesquisa .input_categoria {
  flex-grow: 2;
}
.livros_container .form_pesquisa .input_pesquisar {
  flex-grow: 1;
}
.livros_container .form_pesquisa input {
  border: none;
  padding: 1rem;
  background-color: none;
  border-radius: 0.5rem;
  color: var(--cor-0);
  outline: none;
}
.livros_container .form_pesquisa input::-moz-placeholder {
  color: var(--cor-5);
}
.livros_container .form_pesquisa input::placeholder {
  color: var(--cor-5);
}
.livros_container .form_pesquisa select {
  background-color: none;
  color: var(--cor-5);
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
}
.livros_container .form_pesquisa select::-moz-placeholder {
  color: var(--cor-5);
}
.livros_container .form_pesquisa select::placeholder {
  color: var(--cor-5);
}
.livros_container .form_pesquisa button {
  flex-grow: 1;
  outline: none;
  background-color: var(--cor-4);
  color: var(--cor-9);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.75rem;
  transition: background-color 0.2s ease-in;
}
.livros_container .form_pesquisa button:hover {
  background-color: var(--cor-0);
}
.livros_container--card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 1rem;
}
.livros_container--card .card_livro {
  width: 350px;
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 1rem;
}
.livros_container--card .card_livro a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #fff;
  transition: box-shadow 0.3s ease-out;
}
.livros_container--card .card_livro a img {
  margin-bottom: 1rem;
}
.livros_container--card .card_livro a h2 {
  font-size: 1.2rem;
  margin: 0.5rem;
}
.livros_container--card .card_livro a p {
  display: flex;
  align-items: center;
}
.livros_container--card .card_livro a:hover {
  box-shadow: 7px 7px 20px var(--cor-2);
}

.form_pesquisa {
  margin-bottom: 3rem;
}

:root {
  --cor-1: #E2E6E9;
  --cor-2-1: #eee9e4;
  --cor-2: #DBCBBC;
  --cor-3: #F9F5F0;
  --cor-4: #FCFBFF;
  --cor-5: #9798B7;
  --cor-6-1: #FCF5E2;
  --cor-6: #FFB786;
  --cor-6-2: #633004;
  --cor-7: #98C67E;
  --cor-7-1: #74b350;
  --cor-8: #201F31;
  --cor-9: #D2D2D2;
  --cor-0: #606062;
  --font-1: "Fjalla One";
  --font-2: "Signika Negative";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
  background: linear-gradient(var(--cor-1), var(--cor-2)) !important;
}

body {
  background: none;
  font-family: var(--font-2);
  color: var(--cor-0);
}

a {
  text-decoration: none;
  color: var(--cor-0);
}
a:hover {
  color: var(--cor-8);
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.header_container {
  width: 100%;
  height: 80px;
  padding: 1rem;
  margin-bottom: 5rem;
}
.header_container .display_container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_container .display_container--header nav ul {
  display: flex;
}
.header_container .display_container--header nav.nav_menu ul {
  gap: 2.5rem;
}
.header_container .display_container--header nav.nav_user ul {
  gap: 1rem;
}
.header_container .display_container--header .logo {
  font-family: var(--font-1);
  font-size: 2.6rem;
  color: var(--cor-8);
}