@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Signika+Negative:wght@300..700&display=swap");
.message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 300px;
  height: 60px;
  border-radius: 0.5rem;
  gap: 0.7rem;
  color: var(--cor-4);
  top: 50px;
  background-color: var(--cor-2);
}
.message img {
  border-radius: 0.5rem;
  width: 20%;
}
.message span {
  margin-right: 12px;
}

.forum_container {
  width: 1400px;
  height: 100%;
  background: linear-gradient(var(--cor-4), var(--cor-3));
  margin: 4rem auto 0;
  border-radius: 1rem 1rem 0 0;
  border: 10px solid #fff;
  border-bottom: none;
  padding: 1rem 3rem;
}

.forum_container--content {
  width: 1400px;
  height: 100%;
  background: var(--cor-4);
  margin: 0 auto 4rem;
  border-radius: 0 0 1rem 1rem;
  border: 10px solid #fff;
  border-top: none;
  padding: 1rem 0 1rem 3rem;
}

.header_container {
  width: 100%;
  height: 80px;
  padding: 1rem;
  margin-bottom: 5rem;
}
.header_container .display_container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_container .display_container--header nav ul {
  display: flex;
}
.header_container .display_container--header nav.nav_menu ul {
  gap: 2.5rem;
}
.header_container .display_container--header nav.nav_user ul {
  gap: 1rem;
}
.header_container .display_container--header .logo {
  font-family: var(--font-1);
  font-size: 2.6rem;
  color: var(--cor-8);
}

.main_container .display_container--main .main_display {
  height: 650px;
  margin-bottom: 5rem;
  display: flex;
}
.main_container .display_container--main .main_display article {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  justify-content: center;
}
.main_container .display_container--main .main_display article h3 {
  font-size: 4rem;
  line-height: 3.6rem;
  margin-bottom: 2rem;
  color: var(--cor-8);
}
.main_container .display_container--main .main_display article p {
  color: var(--cor-0);
  margin-bottom: 3rem;
}
.main_container .display_container--main .main_display article form .input_search {
  background-color: #fff;
  padding: 0.8rem 1rem;
  border-radius: 3rem;
  width: 70%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.main_container .display_container--main .main_display article form .input_search input {
  height: 50px;
  width: 70%;
  border: none;
  padding-left: 1.5rem;
  background-color: none;
  color: var(--cor-0);
  outline: none;
}
.main_container .display_container--main .main_display article form .input_search input::-moz-placeholder {
  color: var(--cor-5);
}
.main_container .display_container--main .main_display article form .input_search input::placeholder {
  color: var(--cor-5);
}
.main_container .display_container--main .main_display article form .input_search button {
  width: 30%;
  outline: none;
  background-color: var(--cor-7);
  color: #fff;
  border: none;
  padding: 1rem 1.7rem;
  border-radius: 1.5rem;
  cursor: pointer;
}
.main_container .display_container--main .main_display article form .input_search button:hover {
  background-color: var(--cor-7-1);
}
.main_container .display_container--main .main_display figure {
  width: 43%;
  position: relative;
}
.main_container .display_container--main .main_display figure img {
  position: absolute;
  bottom: -12%;
  left: 10%;
  transform: translateX(30%);
  transform: scaleX(-1);
}

.body_login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login_container {
  width: 1000px;
  height: 500px;
  background: linear-gradient(var(--cor-4), var(--cor-3));
  border-radius: 1rem;
  border: 10px solid #fff;
  display: flex;
  flex-flow: nowrap row-reverse;
}

.cadastro {
  flex-flow: nowrap row;
}

.login_container--img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_container--img img {
  width: 80%;
}

.login_container--form {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 2rem;
}
.login_container--form h2 {
  font-family: var(--font-1);
  font-size: 2.6rem;
  color: var(--cor-8);
  text-align: center;
  margin-bottom: 2rem;
}
.login_container--form form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.login_container--form form input {
  height: 50px;
  border: none;
  padding-left: 1.5rem;
  background-color: none;
  border-radius: 0.5rem;
  color: var(--cor-0);
  outline: none;
}
.login_container--form form input::-moz-placeholder {
  color: var(--cor-5);
}
.login_container--form form input::placeholder {
  color: var(--cor-5);
}
.login_container--form form button {
  outline: none;
  background-color: var(--cor-6);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1.7rem;
  cursor: pointer;
  font-size: 1.1rem;
}
.login_container--form form button:hover {
  background-color: var(--cor-2);
}
.login_container--form p {
  text-align: center;
  color: var(--cor-0);
  font-size: 0.9rem;
  margin-top: 2rem;
}
.login_container--form p a {
  color: var(--cor-5);
  transition: color 0.2s ease-out;
}
.login_container--form p a:hover {
  color: var(--cor-8);
}

:root {
  --cor-1: #E2E6E9;
  --cor-2-1: #eee9e4;
  --cor-2: #DBCBBC;
  --cor-3: #F9F5F0;
  --cor-4: #FCFBFF;
  --cor-5: #9798B7;
  --cor-6-1: #FCF5E2;
  --cor-6: #FFB786;
  --cor-6-2: #633004;
  --cor-7: #98C67E;
  --cor-7-1: #74b350;
  --cor-8: #201F31;
  --cor-9: #D2D2D2;
  --cor-0: #606062;
  --font-1: "Fjalla One";
  --font-2: "Signika Negative";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(var(--cor-1), var(--cor-2));
  font-family: var(--font-2);
  color: var(--cor-0);
}

a {
  text-decoration: none;
  color: var(--cor-0);
}
a:hover {
  color: var(--cor-8);
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}