<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Fórum de Livros</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="../static/scss/index.css">
</head>
<body>
  <section class="forum_container">
    <header class="header_container">
      <section class="display_container--header">
        <h1 class="logo">Fórum de Livros</h1>

        <nav class="nav_menu">
          <ul>
            <li>LIVROS</li>
            <li>POPULAR</li>
          </ul>
        </nav>

        <nav class="nav_user">
          <ul>
            {% if usuario %}
              <li><span>Bem-vindo, {{ usuario.nome }}!</span><a href="/logout">🚪 Sair</a></li>
            {% else %}
              <li>Você não está logado. <a href="{{ url_for('login') }}">Faça login</a></li>
              <p></p>
            {% endif %}
            
          </ul>
        </nav>
      </section>
    </header>

    <main class="main_container">
      <section class="display_container--main">
        <section class="main_display">
          <article>
            <h3>Procure o livro que você está ansioso para ler.</h3>
            <p>O melhor site para busca de uma nova leitura!</p>

            <form action="">
              <div class="input_search">
                <input type="text" name="search_book" id="search_book" placeholder="Procurar seu livro favorito aqui...">
                <button type="submit">Procurar</button>
              </div>
            </form>
          </article>

          <figure>
            <img src="../static/images/livros.png" alt="livros">
          </figure>
        </section>
      </section>
    </main>
  </section>

  <section class="forum_container--content">
    {% if livro %}
        <h2>Livro com maior avaliação:</h2>
        <p>Título: {{ livro.titulo }}</p>
        <p>Autor: {{ livro.autor }}</p>
        <p>Categoria: {{ livro.categoria }}</p>
        {% if livro.imagem_base64 %}
          <img src="data:image/png;base64,{{ livro.imagem_base64 }}" alt="Capa do livro" width="300px" />
        {% else %}
          <p>Sem imagem</p>
        {% endif %}
    {% else %}
        <p>Não há livros avaliados no momento.</p>
    {% endif %}
  </section>

  <footer>
    &copy; 2025 Fórum de Livros | Feito com ❤️ em Flask
  </footer>
</body>
</html>
