.forum_container {
  width: 1400px;
  height: 100%;
  background: linear-gradient(var(--cor-4), var(--cor-3));
  margin: 4rem auto 0;
  border-radius: 1rem 1rem 0 0;
  border: 10px solid #fff;
  border-bottom: none;
  padding: 1rem 3rem;
}

.footer_container {
  width: 1400px;
  height: 200px;
  justify-content: center;
  border-radius: 0 0 1rem 1rem;
  margin: 0 auto 4rem;
  border: 10px solid #fff;
  border-top: none;
  background: linear-gradient(var(--cor-3), var(--cor-4));
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  h3 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
}

.forum_container--content {
  width: 1400px;
  background: var(--cor-4);
  margin: 0 auto;
  border: 10px solid #fff;
  border-top: none;
  border-bottom: none;
  padding: 6rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main_container {
  .display_container--main {
    .main_display {
      height: 650px;

      margin-bottom: 5rem;

      display: flex;

      article {
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        padding: 1rem;
        justify-content: center;
        align-items: center;

        h3 {
          font-size: 4rem;
          line-height: 3.6rem;
          margin-bottom: 2rem;
          color: var(--cor-8);
        }

        p {
          color: var(--cor-0);
          margin-bottom: 3rem;
        }
      }

      figure {
        width: 43%;
        position: relative;

        img {
          position: absolute;
          bottom: -12%;
          left: 10%;
          transform: translateX(30%);
          transform: scaleX(-1);
        }
      }
    }
  }
}

.livros_populares {
  width: 300px;
  height: 500px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: .5rem;
  transition: box-shadow .3s ease-in-out;
  cursor: pointer;

  h4 {
    margin-bottom: .75rem;
    font-size: 1.3rem;
  }

  h6 {
    margin-bottom: 1.25rem;
    font-size: 1rem;
  }

  p {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
  }

  &:hover {
    box-shadow: 7px 7px 20px var(--cor-2);
  }
}

.texto_bonito {
  color: var(--cor-6-2);
  transition: .2s ease;
  font-weight: bold;

  &:hover {
    color: var(--cor-8);
  }
}